<center><%= image_tag 'Slyde_logo.png', :width => "400px"%>

<h2>
Share slides without sharing files.
</h2>
<br>
Upload a file below and share the link with anyone you'd like. 
<br>
They can view the slides, but can't download it.
<br><br><br><br>
	<%#= render 'form' %>

	<% form_for :deck, @deck, :url => decks_path, :html => { :multipart => true } do |form| %>
	  <%= form.file_field :doc, :class => 'input_style' %>
	  <%= submit_tag value="Submit", :class => 'btn' %>
	  
	<% end %>
<br>
<br>
	<div id="deck">
<% unless @deck.nil? %>
	INITIAL URL TEXT TEST
	<%#= render 'deck' %>
	
<% end %>
	</div>
	
</center>
<br>
<br>

<% if user_signed_in? %><%= link_to 'My Decks', decks_path %> <% end %>

